version: '2'
services:
    whois-web:
        build: "{{ apps_src_path }}whois"
        restart: always
        ports:
            - "127.0.0.1:6000:8000"
        volumes:
            - /var/opt/volumes/whois:/data
            # sync timezone with host
            - /etc/localtime:/etc/localtime:ro
        environment:
            SECRET_KEY: "fq6RlW1wZ71wl2rlHnrphvGe8uOoB7ioHKWm0fBAnmlyHxRFtWWgawrsGsIw3MBI"
