---

- name: activate banner and point it to /etc/sshd-banner
  lineinfile:
    path: /etc/ssh/sshd_config
    line: "Banner /etc/sshd-banner"
    regexp: '(#\s*)?Banner.*'
    firstmatch: yes
    insertafter: regex
  notify:
    - reload sshd
  become: yes

# generate banners via `toilet "squire " -F border -f smbraille`
# the add domain name add domain name to penultimate line
# in the future (when we get more machines) banner generation should be automated
- name: populate banner contents
  copy:
    dest: /etc/sshd-banner
    src: banner
  become: yes
